html, body {
    margin: 0;
    padding: 0;
    background-color: #212529;
}

.main-page{
    padding: 13rem 1.5rem;
    text-align:center;
    background-color: #212529;
    color:#fff;
    margin: 0;
    border-top: 10px solid transparent;
    border-image: linear-gradient(to right, red, white, rgb(31, 107, 31)) 1;
}

.sec-main{
    padding: 3rem 1.5rem;
    text-align:center;
    background-color: #2F3338;
    color: #fff;
}

.footer-element{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20rem;

    margin: 0;
    background-color: #212529;
    color: #fff;
    border-top: 10px solid transparent;
    border-image: linear-gradient(to right, red, white, rgb(31, 107, 31)) 1;
}

.descript{
    padding-top: 5%;
    font-size: 120%;
}

#lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 999;
}

.lightbox-content {
  display: flex;
  gap: 20px;
  max-width: 90vw;
  max-height: 90vh;
}

#lightbox-img {
  max-width: 70%;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 10px;
}

.lightbox-info {
  width: 25%;
  background: #212529;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 90vh;
}

.thumb{
    cursor: pointer;
}